.cover {
    min-height: 740px;   
    position: relative;
    margin: 0 48px 0;
    display: flex;
    flex-direction: column;
    align-content: center;  
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;    
    background-position: center center;
}

@media screen and (min-width: 1024px) and (max-width: 1184px) {
  .cover {
    margin: 0;
    min-height: 640px;     
    max-width: 1184px;  
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 0;
    min-height: 480px;          
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 0;    
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .cover {
    min-height: 337.5px;        
  }
}

@media screen and (min-width: 420px) and (max-width: 539px) {
  .cover {    
    min-height: 262.5px;
  }
}

@media screen and (max-width: 419px) {
  .cover {
    min-height: 200px;        
  }  
}









