.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .place:first-of-type>.place__website {
          padding-top: 46px;
       }
}

@media screen and (max-width: 767px) {
    .place__website {
      display: none;
      }
 }